* {
    margin: 0px; 
    padding: 0px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.all-blocks {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    height: 6vh;
    background-color: rgb(161, 158, 158);
    margin-top: 0;
}

.head-navigation {
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

li a {
    text-decoration: none;
    color: rgb(251, 205, 119);
    font-weight: 600;
    text-align: center;
}
