{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'tasks/css/base.css' %}">
    {% block links %} {% endblock %}
</head>
<body>
    <div class="all-blocks">
        {% if request.user.is_authenticated %}
        <header>
            <ul class="head-navigation">
                <li><a href="{% url 'home' %}" class="home">Home</a></li>
                <li><a href="{% url 'tasks' %}" class="tasks">Tasks</a></li>
                <li><a href="{% url 'task-list-completed' %}" class="completed-tasks">Completed Tasks</a></li>
                <li><a href="https://github.com/TimAny-W/shizohrenya" class="contacts">Contacts</a></li>
                <li><a href="https://image.winudf.com/v2/image1/Y29tLmtpcm1pbnQucmFrZXNjcmVhbWVyX3NjcmVlbl8wXzE1OTQxNzYzODNfMDEx/screen-0.jpg?fakeurl=1&type=.webp">Fuck you</a></li>
              </ul>
        </header>
        {% endif %}
        <main>
        {% block content %}
        {% endblock %}
    </main>
    </div>



</body>
</html>