{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'tasks/img/avatar_example.png' %}"/>
    <link rel="stylesheet" href="{% static 'tasks/css/base.css' %}">
    {% block links %} {% endblock %}
</head>
<body>
    <div class="all-blocks">
        {% if request.user.is_authenticated %}

        <header>
            <div class="pustota"></div>
            <ul class="head-navigation">
                <li><a href="{% url 'home' %}" class="home">Home</a></li>
                <li><a href="{% url 'tasks' %}" class="tasks">Tasks</a></li>
                <li><a href="{% url 'task-list-completed' %}" class="completed-tasks">Completed Tasks</a></li>
<!--                <li><a href="https://github.com/TimAny-W/shizohrenya" class="contacts" target = "_blank">Github</a></li>-->
                <li><a href="https://image.winudf.com/v2/image1/Y29tLmtpcm1pbnQucmFrZXNjcmVhbWVyX3NjcmVlbl8wXzE1OTQxNzYzODNfMDEx/screen-0.jpg?fakeurl=1&type=.webp">Fuck you</a></li>
            </ul>
            <div class="pustota">
                <a href="{% url 'profile' user %}">
                    <div class="user">
                        <span><p>Your profile</p></span>
                        <span class="avatar"><img src="{% static 'tasks/img/avatar_example.png' %}" alt=""></span>
                    </div>
                </a>
            </div>

        </header>

        {% endif %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>



</body>
</html>