{% extends 'tasks/base.html' %}

{% load static %}


{% block title %} Task {% endblock %}

{% block links %}

    <link rel="stylesheet" href="{% static 'tasks/css/task.css' %}">
{% endblock %}

{% block content %}
    <div id="title" class="title"><h1>Your task</h1></div>
    <div class="task-create-edit gradient-border">

        <div class="task-block">

            <div class="form-block">
                <form action="" method="post">
                    {% csrf_token %}

                    <span>Task title:</span>
                    <p>{{ form.title }}</p>

                    <span>Task text:</span>
                    <p>{{ form.text }}</p>

                    <span>Complete date: </span>
                    <p>{{ form.complete_date }}</p>
                    <button class="button" type="submit">Submit</button>


                </form>




            </div>

        </div>

    </div>



{% endblock %}