{% extends 'tasks/base.html' %}

{% load static %}


{% block title %}
List of shit
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'tasks/css/tasks.css' %}">
{% endblock %}

{% block content %}
    <div class="list-group w-auto">
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">List group item heading</h6>
            <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
          </div>
          <small class="opacity-50 text-nowrap">now</small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Another title here</h6>
            <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a little longer so it wraps to a new line.</p>
          </div>
          <small class="opacity-50 text-nowrap">3d</small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Third heading</h6>
            <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
          </div>
          <small class="opacity-50 text-nowrap">1w</small>
        </div>
      </a>
    </div>



    <div class="tasks-list">
            {% for task in object_list %}
                <label class="list-group-item d-flex gap-3">
                    {% if not task.is_completed %}
                        <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
                            <span class="pt-1 form-checked-content">
                              <strong>{{task.title}}</strong>
                              <small class="d-block text-muted">
                                <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
                                {{task.creating_date}}
                              </small>
                            </span>
                        <span>
                            <td><a href="{% url 'task-update' pk=task.id %}"><button type="button" class="btn btn-outline-primary me-2">Edit</button></a></td>
                            <td><a href="{% url 'task-delete' pk=task.id %}"><button type="button" class="btn btn-outline-primary me-2">Delete</button></a></td>
                        </span>
                    {% else %}
                        <input class="form-check-input flex-shrink-0" type="checkbox" checked style="font-size: 1.375em;">
                            <span class="pt-1 form-checked-content">
                              <i><s><strong>{{task.title}}</strong></s></i>
                              <small class="d-block text-muted">
                                <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
                                {{task.creating_date}}
                              </small>
                            </span>
                        <span>
                            <td><a href="{% url 'task-update' pk=task.id %}"><button type="button" class="btn btn-outline-primary me-2">Edit</button></a></td>
                            <td><a href="{% url 'task-delete' pk=task.id %}"><button type="button" class="btn btn-outline-primary me-2">Delete</button></a></td>
                        </span>

                    {% endif %}
                </label>
                {% empty %}
                    <h2>Список пустой</h2>
            {% endfor %}
    </div>


{% endblock %}
