{% extends 'tasks/base.html' %}

{% load static %}

{% block title %}
Completed tasks list
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'tasks/css/task_list_completed.css' %}">
{% endblock %}

{% block content %}
    <div class="task-list list-group w-auto">
            <div class="title"><h1>Completed Tasks</h1></div>
            <div class="tasks-list gradient-border">
            {% for task in object_list %}
                <div class="overtask">
                    <div class="task">
                    {% if not task.is_completed %}
                              <div class="status-icon"></div>
                              <div class="task-content">
                                  <p><strong>{{task.title}}</strong></p>
                                  <p>{{ task.text }}</p>
                              </div>
                              <div class="buttons">
                                  <td><a href="{% url 'task-update' pk=task.id %}"><button type="button">Edit</button></a></td>
                                  <td><a href="{% url 'task-delete' pk=task.id %}"><button type="button">Delete</button></a></td>
                                  <td><a href="{% url 'task-complete' pk=task.id %}"><button type="button">Complete</button></a></td>
                              </div>
                    {% else %}
                        <div class="status-icon"></div>
                              <div class="task-content">
                                  <p><i><s><strong>{{task.title}}</strong></s></i></p>
                                  <p><i><s>{{task.complete_date}}</s></i></p>
                              </div>
                              <div class="buttons">
                                  <td><a href="{% url 'task-update' pk=task.id %}"><button type="button">Edit</button></a></td>
                                  <td><a href="{% url 'task-delete' pk=task.id %}"><button type="button">Delete</button></a></td>
                                  <td><a href="{% url 'task-complete' pk=task.id %}"><button type="button">Complete</button></a></td>
                              </div>
                    </div>
                    {% endif %}
                </div>
                {% empty %}
                    <h2>Nothing is here...</h2>
            {% endfor %}
    </div>


{% endblock %}
