{% extends 'tasks/base.html' %}

{% load static %}


{% block title %}
List of shit
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'tasks/css/tasks.css' %}">
{% endblock %}

{% block content %}
<!--    <div class="list-group w-auto">-->
<!--      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">-->
<!--        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">-->
<!--        <div class="d-flex gap-2 w-100 justify-content-between">-->
<!--          <div>-->
<!--            <h6 class="mb-0">List group item heading</h6>-->
<!--            <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>-->
<!--          </div>-->
<!--          <small class="opacity-50 text-nowrap">now</small>-->
<!--        </div>-->
<!--      </a>-->
<!--      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">-->
<!--        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">-->
<!--        <div class="d-flex gap-2 w-100 justify-content-between">-->
<!--          <div>-->
<!--            <h6 class="mb-0">Another title here</h6>-->
<!--            <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a little longer so it wraps to a new line.</p>-->
<!--          </div>-->
<!--          <small class="opacity-50 text-nowrap">3d</small>-->
<!--        </div>-->
<!--      </a>-->
<!--      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">-->
<!--        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">-->
<!--        <div class="d-flex gap-2 w-100 justify-content-between">-->
<!--          <div>-->
<!--            <h6 class="mb-0">Third heading</h6>-->
<!--            <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>-->
<!--          </div>-->
<!--          <small class="opacity-50 text-nowrap">1w</small>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->



    <div class="tasks-list">
            {% for task in object_list %}
                <label>
                    <div class="task">
                    {% if not task.is_completed %}

                        <input class="" type="checkbox" >
                              <strong>{{task.title}}</strong>

                                {{task.creating_date}}

                        <span>
                            <td><a href="{% url 'task-update' pk=task.id %}"><button type="button">Edit</button></a></td>
                            <td><a href="{% url 'task-delete' pk=task.id %}"><button type="button">Delete</button></a></td>
                        </span>

                    {% else %}
                        <input class="" type="checkbox" checked>
                              <i><s><strong>{{task.title}}</strong></s></i>
                              <i><s>{{task.complete_date}}</s></i>
                        <span>
                            <td><a href="{% url 'task-update' pk=task.id %}"><button type="button">Edit</button></a></td>
                            <td><a href="{% url 'task-delete' pk=task.id %}"><button type="button">Delete</button></a></td>
                        </span>
                    </div>
                    {% endif %}
                </label>
                {% empty %}
                    <h2>Список пустой</h2>
            {% endfor %}
    </div>

{% endblock %}
