{% extends 'tasks/base.html' %}

{% load static %}


{% block title %}
List of shit
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'tasks/css/tasks.css' %}">
{% endblock %}

{% block content %}

    <div class="tasks-list">
        <h1>Your Tasks</h1>
            {% for task in object_list %}
                <label>
                    <div class="task">
                    {% if not task.is_completed %}

                        <input class="" type="checkbox" >
                              <strong>{{task.title}}</strong>

                                {{task.creating_date}}

                        <span>
                            <td><a href="{% url 'task-update' pk=task.id %}"><button type="button">Edit</button></a></td>
                            <td><a href="{% url 'task-delete' pk=task.id %}"><button type="button">Delete</button></a></td>
                        </span>

                    {% else %}
                        <input class="" type="checkbox" checked>
                              <i><s><strong>{{task.title}}</strong></s></i>
                              <i><s>{{task.complete_date}}</s></i>
                        <span>
                            <td><a href="{% url 'task-update' pk=task.id %}"><button type="button">Edit</button></a></td>
                            <td><a href="{% url 'task-delete' pk=task.id %}"><button type="button">Delete</button></a></td>
                        </span>
                    </div>
                    {% endif %}
                </label>
                {% empty %}

                        <h2>Nothing is here...</h2>
                        <div class="add">
                            <a class="create" href="{% url 'task-create' %}">Create task</a>
                        </div>

            {% endfor %}
    </div>

{% endblock %}
