{% extends 'tasks/base.html' %}

{% load static %}

{% block title %} Your profile {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_system/css/profile.css' %}">
{% endblock %}

{% block content %}

    <div class="user-info gradient-border">

        <div class="your-avatar"><img src="{% static 'tasks/img/avatar_example.png' %}" alt=""></div>

        <div class="status">
            <div class="username">
                <h1>{{ user.username }}</h1>
                <a href="{% url 'logout' %}"><button type="button" class="button">Log out</button></a><br>
            </div>
            <p>You joined: {{ user.date_joined|date:"M d, Y "}}</p>


            <div class="rating">
                {% for line in rating %}
            Место(нужно сделать ) Пользователь: <a href="{% url 'profile' line.1 %}">{{ line.0 }}</a> Кол-во выполненных задач: {{ line.1 }}<br>

            {% endfor %}
            </div>

        </div>

    </div>



{% endblock %}