{% extends 'tasks/base.html' %}

{% load static %}

{% block title %} User profile {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_system/css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

    <div class="user-info gradient-border">

        <div class="your-avatar"><img src="{% static 'tasks/img/avatar_example.png' %}" alt=""></div>

        <div class="status">
            <div class="username">
                <h2>{{ user.username }}</h2>
            </div>
            <p>Joined: {{ user.date_joined|date:"M d, Y "}}</p>


            <div class="rating">
                <!-- {{ place_user }} -->
                <h2 class="top-title">Top 5 users:</h2>
                {% for line in rating %}
                    {% if line.2 <= 5 %}
                    <div id="user">
                        <p><i class="fa fa-trophy" style="font-size:21px">{{ line.2 }}</i></p>
                        <p>User: <a href="{% url 'profile' line.0 %}">{{ line.0 }}</a></p> 
                        <p>Completed tasks count: {{ line.1 }}</p>  
                    </div>
                    {% endif %}


                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}