{% extends 'tasks/base.html' %}

{% block title %}Логин{% endblock %}

{% block link %}
    <style>
        main {
            height: 100vh;

            display: flex;
            justify-content: center;
            align-items: center

        }

       form {
            width: 300px;
            padding-top: 10px
        }

       .btn {margin-top: 10px}

    </style>
{% endblock %}

{% block body %}

<!--    <form action="{% url 'login' %}" method="post">-->
<!--        {{ form }}-->
<!--        {% csrf_token %}-->
<!--        <button type="submit" class="btn btn-success">Submit</button>-->
<!--    </form>-->


    <main class="login-block text-center form-signin w-100 m-auto vsc-initialized">
      <form action="{% url 'login' %}" method="post">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          {{ form }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success w-100 btn-lg btn-primary">Sign in</button>
        <a href="{% url 'registration' %}"><button type="button" class="btn btn-outline-primary me-2">Зарегистрироваться</button></a>
        <p class="mt-5 mb-3 text-muted">Шизофрения © 2022</p>
      </form>
<!--        -->

<!--        <div class="form-floating">-->
<!--          <input action="{% url 'login' %}" method="post" class="form-control" id="floatingInput" placeholder="Login">-->
<!--          <label for="floatingInput">Login</label>-->
<!--        </div>-->

<!--        <div class="form-floating">-->
<!--          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">-->
<!--          <label for="floatingPassword">Password</label>-->
<!--        </div>-->
    </main>

{% endblock %}