{% extends 'tasks/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block body %}

    <form method="post" action="{% url 'registration' %}">
        Username: {{ form.username }}<br>
        Email: {{ form.email }}<br>
        Password {{ form.password1 }}<br>
        Repeat the password: {{ form.password2 }}<br>
        <button type="submit" class="btn btn-success">submit</button><br>
        {% csrf_token %}
    </form>
    <h3>Already registered?<a href="{% url 'login' %}">Login</a></h3>
    {{ errors }}
{% endblock %}
