a.tasks{
    background-color: rgb(235, 235, 235);
    color:rgb(248, 134, 2);
    border-radius: 3px;
    padding: 7px 13px;
}

main {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.tasks-list {
    width: 1000px;
    background-color: antiquewhite;
}