{% extends 'tasks/base.html' %}

{% block title %}
List of shit
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="">
    <style>
        .titles {
            height: 60px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between
         }

    </style>
{% endblock %}

{% block body %}
    <a href="{% url 'home' %}">Home</a>

    <div class="titles">
        <h1>Tasks list</h1>
        <svg class="bi me-1" width="1em" height="1em"><use xlink:href="{% url 'task-create' %}"></use></svg>
        <a href="{% url 'task-create' %}"><button type="button" class="btn btn-outline-primary me-2">Add task</button></a>
    </div>



    <div class="list-group w-auto">
            {% for task in object_list %}
                <label class="list-group-item d-flex gap-3">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
                    <span class="pt-1 form-checked-content">
                      <strong>{{task.title}}</strong>
                      <small class="d-block text-muted">
                        <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
                        {{task.creating_date}}
                      </small>
                    </span>
                    <span>
                        <td><a href="{% url 'task' pk=task.id %}"><button type="button" class="btn btn-outline-primary me-2">View</button></a></td>
                        <td><a href="{% url 'task-update' pk=task.id %}"><button type="button" class="btn btn-outline-primary me-2">Edit</button></a></td>
                        <td><a href="{% url 'task-delete' pk=task.id %}"><button type="button" class="btn btn-outline-primary me-2">Delete</button></a></td>
                    </span>

                </label>

                {% empty %}
                    <h2>Список пустой</h2>
            {% endfor %}
    </div>


{% endblock %}
