{% extends 'index.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
      <h1>Главная страница</h1>
      {% if request.user.is_authenticated %}
            <a href="{% url 'tasks' %}">Tasks</a>
      {% endif %}
      <div class="user_system">
            {% if request.user.is_authenticated %}
                  {{ user }}<br>
                  <a href="{% url 'logout' %}">Выйти из аккаунта</a>
            {% else %}
                  <a href="{% url 'registration' %}">Зарегистрироваться</a><br>
                  <a href="{% url 'login' %}">Войти</a>
            {% endif %}

      </div>

{% endblock %}