{% extends 'tasks/base.html' %}

{% load static %}

{% block title %}Главная страница{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'tasks/css/home.css' %}">
{% endblock %}
{% block content %}
      <h1>Добро Пожаловать!</h1>

      <div class="user_system">
            {% if request.user.is_authenticated %}
                  Аккаунт: {{ user }}<br>
                  <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary me-2">Log out</button></a>
            {% else %}
                  <a href="{% url 'registration' %}"><button type="button" class="btn btn-outline-primary me-2">Register</button></a>
                  <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
            {% endif %}
      </div>

{% endblock %}