* {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.username {
    padding-bottom: 10px;
}

.username h1 {
    text-align: center;
    text-align: center;
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    color: #000000;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user-info {
    margin: 100px;
    padding: 50px;
    height: 400px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.your-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.your-avatar {
    height: 300px;
    width: 40%;
    border-radius: 10px;
    background-color:#d1a59c;
}

.status {
    padding: 10px;
    height: 280px;
    width: 60%;
}

button {
    display: inline;
    height: 30px;
    width: auto;
    min-width: 50px;
    text-decoration: none;
    color: rgb(81, 81, 81);
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.rating {
    margin-top: 20px;
}

/* Gradient border */

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    color: white;
    font-family: 'Raleway';
    font-size: 2.5rem;
  }
.gradient-border {
--borderWidth: 3px;
background: #e2e0e0;
position: relative;
border-radius: var(--borderWidth);
}
.gradient-border:after {
content: '';
position: absolute;
top: calc(-1 * var(--borderWidth));
left: calc(-1 * var(--borderWidth));
height: calc(100% + var(--borderWidth) * 2);
width: calc(100% + var(--borderWidth) * 2);
background: linear-gradient(60deg, rgb(251, 205, 119), #f79533, #f37055, #d1a59c, #929292, #d1a59c, #f37055, #f79533, rgb(251, 205, 119)); 
/* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
border-radius: calc(2 * var(--borderWidth));
z-index: -1;
animation: animatedgradient 3s ease alternate infinite;
background-size: 300% 300%;
}
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}