{% extends 'registration/base.html' %}

{% load static %}

{% block title %}Регистрация{% endblock %}

{% block links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'user_system/css/registration.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="registration-form">
        <form method="post" action="{% url 'registration' %}">
            Username: {{ form.username }}
            Email: {{ form.email }}<br>
            Password: {{ form.password1 }}<br>
            Repeat the password: {{ form.password2 }}<br>
            <button type="submit" class="btn">submit</button><br>
            {% csrf_token %}
        </form>
        <h3>Already registered?<a href="{% url 'login' %}">Login</a></h3>
        {{ errors }}
     </div>

    </main>



{% endblock %}
